@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');
.font-ibm-plex-sans {
    font-family: 'IBM Plex Sans', sans-serif;
}

.btn-primaryType {
    position: absolute;
    background: #202124;
    border-radius: 4px;
    color: #FFFFFF;
    width: 235px;
    height: 45px;
}

@media (max-width: 767.98px) {
    .H3 {
        font-size: 36px;
        line-height: 47px;
        margin-top: 138px;
    }
}

.H3 {
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 62px;
    margin-top: 218px;
}

.hero-image {
    /* position: absolute; */
    /* width: 706px;
    height: 432px;
    left: 956px; */
    margin-top: 136px;
}


/* 
.featured {
    background-image: url(./images/Rectangle\ 50.png);
    height: 551px;
} */